# {{ ansible_managed }}
# ansibleguy.sw_nextcloud

# configuration for PHP MySQL module
extension=pdo_mysql.so

[mysql]
mysql.allow_local_infile=On
mysql.allow_persistent=On
mysql.cache_size=2000
mysql.max_persistent=-1
mysql.max_links=-1
mysql.connect_timeout=60
mysql.trace_mode=Off
mysql.default_host={{ NC_CONFIG.database.host }}
mysql.default_user=
mysql.default_password=
mysql.default_socket=
{% if 'port' in NC_CONFIG.database %}
mysql.default_port={{ NC_CONFIG.database.port }}
{% endif %}
