; {{ ansible_managed }}
; ansibleguy.sw_nextcloud

; FPM Configuration

[global]
pid = /run/php/php{{ NC_HC.php.version }}-fpm.pid
emergency_restart_threshold = 10
emergency_restart_interval = 1m
process_control_timeout = 10s
include=/etc/php/{{ NC_HC.php.version }}/fpm/pool.d/*.conf
